@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&display=swap&subset=korean');


 li a:link { color:#D3D3D3 ; text-decoration: none;}
 li a:hover {
    color:#4480CD;
    text-decoration: none;
	 font-weight: bold;}
 a:link { color:#0256CB ; text-decoration: none;}

 a:hover {
    color:#4480CD;
    text-decoration: none;
	 font-weight: bold;}


 li:hover {
    color:#4480CD;
    text-decoration: none;
}

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}
.header_top .quick_link {
    width: 280px;
    height: 50px;
    float: right;
    margin-top: 10px;
    display: inline;
    margin-left: 5px;
}

.header_top {
    height: 73px;
}
.header_navi .main_navi {
    width: 549px;
    height: 50px;
    float: right;
}
.blog_tap   {
    float: left;
    width: 182px;
    font-family: NanumGothic;
    font-weight: bold;
    margin-top: 22px;
    font-size: 14px;
    color: #1F54C2;
}
.header_navi {
    height: 60px;
}
.quick_link ul li {
    width: 70px;
    display: inline;
    margin-top: 20px;
    font-size: 12px;
    font-family: NanumGothic;
    margin-left: 10px;
    color: #D3D3D3;
    font-weight: bold;
}
.contents .mainTx {
    height: 232px;
    border-bottom: 1px dotted #4480cd;
}
.mainTx_2  {
    height: 50px;
    border-bottom: 1px dotted #4480cd;
    color: #D3D3D3;
    font-family: NanumGothic;
}
.contents .mainTx .box_Tx {
    width: 430px;
    height: 200px;
    float: left;
    margin-left: 20px;
    font-family: NanumGothic;
    font-size: 12px;
}
.textStyle {
    font-family: NanumGothic;
    color: #CBCBCB;
    font-size: 11px;
    line-height: 200%;
}
.titleStyle {
    font-family: NanumGothic;
    color: #CBCBCB;
    font-size: 12px;
    line-height: 200%;
    font-weight: bold;
}
.menu_img  {
    width: 213px;
    height: 213px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.footer {
    width: 920px;
    height: 70px;
    float: left;
    background-color: #1E1E1E;
    margin-top: 25px;
    text-align: center;
    padding-top: 15px;
}
.footer_Tx {
    font-family: Gulim, GulimChe, Dotum;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    color: #C4C4C4;
}
.contents .sub_img {
    width: 920px;
    height: 223px;
    color: #D3D3D3;
    font-family: NaNumGothic;
    font-weight: bold;
}
.main_navi ul li {
    display: block;
    float: left;
    margin-left: 20px;
    font-family: NanumGothic;
    list-style-type: none;
    color: #D3D3D3;
    font-weight: bold;
    width: 63px;
    font-size: 16px;
}
.header_top .logo_top h3 {
    color: #D3D3D3;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 200px;
}
.contents .mainTx h3 {
    color: #D3D3D3;
    font-family: NanumGothic;
    font-weight: bold;
}

.subPage {
    color: #D54794;
    font-weight: bold;
}


.home {
    color: #1739BF;
}
.subTx {
    color: #D3D3D3;
    font-family: NanumGothic;
    line-height: 202%;
    font-size: 15px;
}
.subPageMainTx {
    height: 760px;
    float: left;
}
.sub_img_2 {
    float: right;
    margin-top: 42px;
    margin-left: 20px;
    margin-bottom: 17px;
}
.sub_img_3 {
    float: left;
    margin-top: 42px;
    margin-bottom: 17px;
    margin-right: 20px;
}
.logo_top {
    width: 200px;
    float: left;
    height: 60px;
}
